@model TelegramUI.Models.Users

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Users</h4>
<hr />
<form method="post">
    <label>Логин:</label><br />
    <input type="text" name="id1" /><br /><br />
    <input type="submit" value="Отправить" />
</form>

